@model A_ust.Models.Features

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Features</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TargetDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TargetDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h2>Add Assumptions</h2>
@Html.ActionLink("Add Assumptions", "Create", "Assumptions",new {FeatureId = Model.ID}, null)
<ul>
    @foreach (var assumption in Model.Assumptions )
    {
        <li>@Html.ActionLink(assumption.Assumption, "Details", "Assumptions", new {id = assumption.ID}, null)</li>
    }
</ul>