@model A_ust.Models.Projects

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Projects</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TargetDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TargetDate)
    </div>
</fieldset>
@Html.ActionLink("Add Feature", "Create", "Feature",new {ProjectId = Model.ID}, null)

<h2>Features</h2>
<ul>
@foreach (var features in Model.Features)
{
    <li>@Html.ActionLink(features.Name, "Details", "Feature", new { id = features.ID }, null)</li>
}
    </ul>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
