@model A_ust.Models.Assumptions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Assumptions</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Assumption)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Assumption)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TargetDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TargetDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
